h1 {
  color: black;
  background-color: FFD800;
}

body {
  background-color: whitesmoke;
}

input {
  width: 500px;
}

.title:hover {
  background-color: darkcyan;
  display: block;
}

/* .companyname {
  font-family: Helvetica;
} */

.logo {
}

p,
h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: lighter;
}

input {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: lighter;
  border-radius: 5px;
}

button {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: lighter;
  border-radius: 5px;
}

span {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
}

.instructions {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 15px;
}

.sourceURL {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: medium;
}

.promolink:hover {
  background-color: palevioletred;
}
